@model IEnumerable<CoreSys.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Categorias</h2>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Nueva Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategory" class="btn btn-warning btn-sm">Editar</a>  
                <a asp-action="Delete" asp-route-id="@item.IdCategory" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
