﻿<h2>Lista de Articulos</h2>
<p>
    <a class="btn btn-success btn-sm" ng-click="newArticle()">Nuevo Articulo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Nombre</th>
            <th>Activado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="a in ListArticles">
            <td>{{a.idArticle}}</td>
            <td>{{a.code}}</td>
            <td>{{a.name}}</td>
            <td><input type="checkbox" disabled="disabled" checked="{{a.active}}" /></td>
            <td>
                <a class="btn btn-info bt-sm" ng-click="detailsArticle(a)">Detalle</a>
                <a class="btn btn-warning btn-sm" ng-click="editArticles(a)">Editar</a>
                <a class="btn btn-danger btn-sm" ng-click="eliminarArticlesModal(a)">Eliminar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td align="center" colspan="6   ">
                <span class="form-group pull-left page-size form-inline">
                    <select id="ddlPageSize" class="form-control control-color"
                            ng-model="pageSizeSelected"
                            ng-change="changePageSize()">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </span>
                <div class="pull-right">
                    <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    <a class="btn btn-primary">Page: {{pageIndex}} / {{numPages}}</a>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
<!-- Modal -->
<div class="modal fade" id="modalArticleDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="articleFormEdit" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Article</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Codigo
                        </dt>
                        <dd>
                            {{article.code}}
                        </dd>
                        <dt>
                            Descripcion
                        </dt>
                        <dd>
                            {{article.description}}
                        </dd>
                        <dt>
                            Stock
                        </dt>
                        <dd>
                            {{article.stock}}
                        </dd>
                        <dt>
                            Categoria
                        </dt>
                        <dd>
                            {{article.namearticle}}
                        </dd>
                        <dt>
                            Imagen
                        </dt>
                        <dd>
                            <img src="{{article.PathImage}}" alt="" />
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="articleForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Articulo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group has-feedback" ng-class="{'has-error':articleForm.uCodigo.$invalid && articleForm.uCodigo.$dirty}">
                        <label for="uCode">Codigo</label>
                        <input type="text" class="form-control" name="uCode" ng-required="true" placeholder="Ingresar Codigo" ng-model="article.code">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="articleForm.uCode.$invalid && articleForm.uCode.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="articleForm.uCode.$invalid && articleForm.uCode.$dirty">El campo codigo es requerido</span>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':articleForm.uName.$invalid && articleForm.uName.$dirty}">
                        <label for="uName">Nombre</label>
                        <input type="text" class="form-control" name="uName" ng-required="true" placeholder="Ingresar un Nombre" ng-model="article.name">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="articleForm.uName.$invalid && articleForm.uName.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="articleForm.uName.$invalid && articleForm.uName.$dirty">El campo nombre es requerido</span>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':articleForm.uStock.$invalid && articleForm.uStock.$dirty}">
                        <label for="uStock">Stock</label>
                        <input type="number" class="form-control" name="uStock" ng-required="true" placeholder="Ingresar Cantidad" ng-model="article.stock">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="articleForm.uStock.$invalid && articleForm.uStock.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="articleForm.uStock.$invalid && articleForm.uStock.$dirty">El campo stock es requerido</span>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="uImagen">Subir imagen</label>
                        <input type="file" class="form-control" name="uImagen" ng-required="true" upluader-model="article.ImageUpluad">
                        <!--<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="!articleForm.uImagen.$valid && 'invalid' || 'valid'"></span>
                        <span id="helpBlock" class="help-block" ng-if="!articleForm.uImagen.$valid && 'invalid' || 'valid'">El campo imagen es requerido</span>-->
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':articleForm.uDescription.$invalid && articleForm.uDescription.$dirty}">
                        <label for="">Descripción</label>
                        <textarea class="form-control" ng-minlength="5" ng-required="true" ng-maxlength="120" name="uDescription"
                                  placeholder="Ingresa una description" ng-model="article.description"></textarea>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="articleForm.uDescription.$invalid && articleForm.uDescription.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="articleForm.uDescription.$error.required && articleForm.uDescription.$dirty">El campo descripcion es requerido</span>
                        <span id="helpBlock" class="help-block" ng-if="articleForm.uDescription.$error.minlength && articleForm.uDescription.$dirty">Descripcion muy pequeña, minimo de caracteres requeridos 5</span>
                        <span id="helpBlock" class="help-block" ng-if="articleForm.uDescription.$error.maxlength && articleForm.uDescription.$dirty">Descripcion muy grande, maximo de caracteres requeridos 120</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':articleForm.uActive.$invalid && articleForm.uActive.$dirty}">
                        <label for="">Activar</label>
                        <input type="checkbox" name="uActive" ng-required="true" ng-model="article.active" />
                        <span id="helpBlock" class="help-block" ng-if="articleForm.uActive.$error.required && articleForm.uActive.$dirty">El campo activo es requerido</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" ng-disabled="articleForm.$invalid || articleForm.$pending" class="btn btn-primary" ng-click="savearticle(article)">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>