﻿<h2>Lista de Categorias</h2>
<p>
    <a class="btn btn-success btn-sm" ng-click="newCategory()">Nueva Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Activado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in ListCategories">
            <td>{{c.idCategory}}</td>
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
            <td><input type="checkbox" disabled="disabled" checked="{{c.active}}" /></td>
            <td>
                <a class="btn btn-warning btn-sm" ng-click="editCategories(c)">Editar</a>
                <a class="btn btn-danger btn-sm" ng-click="eliminarCategoryModal(c)">Eliminar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td align="center" colspan="6   ">
                <span class="form-group pull-left page-size form-inline">
                    <select id="ddlPageSize" class="form-control control-color"
                            ng-model="pageSizeSelected"
                            ng-change="changePageSize()">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </span>
                <div class="pull-right">
                    <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    <a class="btn btn-primary">Page: {{pageIndex}} / {{numPages}}</a>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<!-- Modal -->
<div class="modal fade" id="modalCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="categoryForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nueva Categoria</h4>
                </div>
                <div class="modal-body">
                    <!--<div class="alert alert-danger" ng-if="ListError.name.length">
                        <ul>
                            <li>{{ListError.name}}</li>
                        </ul>
                    </div>-->

                    <div class="form-group has-feedback" ng-class="{'has-error':categoryForm.uName.$invalid && categoryForm.uName.$dirty}">
                        <label for="uName">Nombre</label>
                        <input type="text" class="form-control" name="uName" ng-required="true" placeholder="Ingresar un Nombre" ng-model="category.name">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="categoryForm.uName.$invalid && categoryForm.uName.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="categoryForm.uName.$invalid && categoryForm.uName.$dirty">El campo nombre es requerido</span>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':categoryForm.uDescription.$invalid && categoryForm.uDescription.$dirty}">
                        <label for="">Descripción</label>
                        <textarea class="form-control" ng-minlength="5" ng-required="true" ng-maxlength="120" name="uDescription"
                                  placeholder="Ingresa una description" ng-model="category.description"></textarea>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="categoryForm.uDescription.$invalid && categoryForm.uDescription.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="categoryForm.uDescription.$error.required && categoryForm.uDescription.$dirty">El campo descripcion es requerido</span>
                        <span id="helpBlock" class="help-block" ng-if="categoryForm.uDescription.$error.minlength && categoryForm.uDescription.$dirty">Descripcion muy pequeña, minimo de caracteres requeridos 5</span>
                        <span id="helpBlock" class="help-block" ng-if="categoryForm.uDescription.$error.maxlength && categoryForm.uDescription.$dirty">Descripcion muy grande, maximo de caracteres requeridos 120</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':categoryForm.uActive.$invalid && categoryForm.uActive.$dirty}">
                        <label for="">Activar</label>
                        <input type="checkbox" name="uActive" ng-required="true" ng-model="category.active" />
                        <span id="helpBlock" class="help-block" ng-if="categoryForm.uActive.$error.required && categoryForm.uActive.$dirty">El campo activo es requerido</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" ng-disabled="categoryForm.$invalid || categoryForm.$pending" class="btn btn-primary" ng-click="saveCategory(category)">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCategoryEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="categoryFormEdit" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nueva Categoria</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group has-feedback" ng-class="{'has-error':categoryFormEdit.uName.$invalid && categoryFormEdit.uName.$dirty}">
                        <label for="uName">Nombre</label>
                        <input type="text" class="form-control" name="uName" ng-required="true" placeholder="Ingresar un Nombre" ng-model="category.name">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="categoryFormEdit.uName.$invalid && categoryFormEdit.uName.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="categoryFormEdit.uName.$invalid && categoryFormEdit.uName.$dirty">El campo nombre es requerido</span>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':categoryFormEdit.uDescription.$invalid && categoryFormEdit.uDescription.$dirty}">
                        <label for="">Descripción</label>
                        <textarea class="form-control" ng-minlength="5" ng-required="true" ng-maxlength="120" name="uDescription"
                                  placeholder="Ingresa una description" ng-model="category.description"></textarea>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="categoryFormEdit.uDescription.$invalid && categoryFormEdit.uDescription.$dirty"></span>
                        <span id="helpBlock" class="help-block" ng-if="categoryFormEdit.uDescription.$error.required && categoryFormEdit.uDescription.$dirty">El campo descripcion es requerido</span>
                        <span id="helpBlock" class="help-block" ng-if="categoryFormEdit.uDescription.$error.minlength && categoryFormEdit.uDescription.$dirty">Descripcion muy pequeña, minimo de caracteres requeridos 5</span>
                        <span id="helpBlock" class="help-block" ng-if="categoryFormEdit.uDescription.$error.maxlength && categoryFormEdit.uDescription.$dirty">Descripcion muy grande, maximo de caracteres requeridos 120</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':categoryFormEdit.uActive.$invalid && categoryFormEdit.uActive.$dirty}">
                        <label for="">Activar</label>
                        <input type="checkbox" name="uActive" ng-required="true" ng-model="category.active" />
                        <span id="helpBlock" class="help-block" ng-if="categoryFormEdit.uActive.$error.required && categoryFormEdit.uActive.$dirty">El campo activo es requerido</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" ng-disabled="categoryFormEdit.$invalid || categoryFormEdit.$pending" class="btn btn-primary" ng-click="saveCategory(category)">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Elimina-->
<div class="modal fade" id="ModalCategoryElimina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>¿Realmente desea eliminar la categoria <strong>{{category.name}}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" ng-click="EliminaCategoryFin(category)">Confirmar</button>
            </div>
        </div>
    </div>
</div>